*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.login-container{
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
}

.left-pane{
    display: none;
}

.right-pane{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: auto;
    height: 100vh;
    
}

.right-pane .title{
    font-size: 2rem;
}

.form-container{
    display: block;
}

.content{
    width: 90%;
    height: 100%;
    margin: 60px auto;
}

.content .title{
    margin-bottom: 50px;
}

.field label{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 15px;
}

label a{
    float: right;
    text-decoration: underline;
    color: white;
}

.field{
    margin-top: 30px;
}

.field input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border-width: thin;
    border: 0;
    background-color: #F3F3F4;
}

.signGoogle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.signGoogle button{
    padding: 10px;
    border: thin;
    text-align: left;
    background-color: #f5514e;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 1rem;
    cursor: pointer;
}

form button{
    padding: 15px;
    width: 100%;
    border: thin;
    background-color: #f5514e;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1rem;
    cursor: pointer;
}

hr.divider{
    overflow: visible;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

hr.divider::after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -7px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}

.content .brand{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    width: 100%;
    margin: 20px auto;
}

.membership{
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

.membership a{
    text-decoration: none;
}

.partcls{
    display: flex;
}

.partcls .field:not(:last-child){
    width: 50%;
    margin-right: 20px;
}

.signGoogle button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.signGoogle button:not(:last-child){
    margin-right: 20px;
}


.fa-google {
    background: conic-gradient(from -45deg, #fff 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
}

.close i{
    color: black;
}

@media screen and (min-width: 50em) {
    .left-pane{
        display: block;
        flex-basis: 30%;
        background-color: #f5514e;
    }

    .left-inner{
        /* width: 80%; */
        margin: 100px auto;
    }

    .left-inner .brand{
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        width: 80%;
        margin: 20px auto;
    }

    .left-inner .text{
        font-size: 1.5rem;
        color: white;
        width: 80%;
        margin: 20px auto;
    }

    .left-inner img{
        display: block;
        width: 100%;
        padding: 30px;
        margin-bottom: 100px;
    }

    .attribution{
        display: block;
        color: white;
        width: 80%;
        margin: 0 auto;
    }

    .attribution a{
        color: #fff;
    }

    .right-pane{
        flex-basis: 65%;
        height: 100%;
        background-color: white;
        color: black;
    }

    .right-pane .title{
        font-size: 2rem;
    }

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }

    .content .brand{
        display: none;
    }


    
}