* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 8vh;
  color: white;
  z-index: 999;
  background-color: #f5514e;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.nav-brand {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-brand a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.burger {
  display: block;
  z-index: 30;
  cursor: pointer;
}

.burger div {
  width: 25px;
  margin: 3px;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease;
}

.nav-links {
  display: none;
  align-items: center;
  list-style: none;
  transition: all 0.5s ease;
}

.links {
  /* margin-left: 50px; */
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav-links.navSlide {
  position: fixed;
  top: 8vh;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
  background-color: #f5514e;
  z-index: 1000;
  transition: all 0.5s ease;
}

.nav-links.slideIn {
  overflow: hidden;
  animation: slideIn 0.5s ease forwards alternate;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.nav-links li a {
  display: inline-block;
  text-align: center;
  margin: 25px auto;
  width: 100%;
}

.burger.toggle .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.toggle .line2 {
  /* transform: translateX(-200px); */
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.active{
    border-bottom: 1px solid white;
}



.hbk-img {
  position: absolute;
  top: 0;
  /* border: 5px solid red; */
  /* object-fit: scale-down; */
  height: 105vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../assets/img/backgrounds/eventsBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}


#welcome {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.774);
  margin: 50px auto;
  width: 90%;
  padding-top: 100px;
}

.changing-text {
  margin: 0px;
  overflow: hidden;
}

.changing-text span {
  display: none;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 0px;
  text-transform: capitalize;
  color: #fff;
}

.changing-text span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}

.changing-text span.text-out {
  animation: textOut 0.5s ease;
}

.sometext {
  text-align: center;
  font-size: 1rem;
  width: 90%;
  margin: 50px auto;
  color: rgba(255, 255, 255, 0.774);
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons input[type="button"] {
  padding: 20px;
  width: 90%;
  margin: 20px;
  font-size: 1rem;
  background: #f5514e;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.ab-us {
  margin-top: 50px;
  padding-top: 50px;
  /* border: 5px solid green; */
}

.ab-us .title {
  margin-top: 50px;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}

.title::after{
  content: "";
  display: block;
  border-bottom: 5px dashed #f5514e;
  width: 5%;
  margin: auto;
}

.no-after::after{
  content: "";
  display: block;
  border-bottom: 0;
  width: 10%;
  margin: auto;
}

.ab-content,
.carousel {
  width: 90%;
  margin: 50px auto;
}

.ab-content .item {
  height: fit-content;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 3px 5px darkgray;
  background: #fff;
  color: #767779;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05);
}

.ab-content .item p {
  text-align: center;
  padding: 10px;
}

.ab-content .item .number {
  font-size: 3rem;
  color: #f5514e;
}

.ab-content .item .heading {
  font-size: 2rem;
}

.heading {
  text-transform: uppercase;
  text-align: center;
}

.services {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fff;
  color: black;
}

.swiper-container {
  height: 35em;
  width: 88%;
  margin: 40px auto;
}

.swiper1 .swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
  /* font-size: 4rem; */
  /* padding: 20px; */
  color: black;
  /* padding: 30px !important; */
  /* box-shadow: 0px 1px 2px darkgray; */
  height: 32em !important;
  background-color: #fff;
  border-radius: 3px;
  border: 0;
}

.swiper1 .swiper-slide .item img {
  height: auto;
  width: 100%;
  padding: 0;
}

.swiper1 .swiper-slide .item .heading {
  font-size: 1.1rem;
  padding: 5px;
  font-weight: bold;
  color: black;
}

.swiper1 .swiper-slide .item .text {
  font-size: 1rem;
  padding: 5px;
}

.swiper1 .swiper-pagination {
  top: 94% !important;
  right: 0;
  left: 0;
  margin: 10px !important;
}

.swiper1 .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  margin-top: -10px !important;
}

.swiper1 .swiper-pagination-bullet-active
{
  background-color: #f5514e !important;
  width: 25px !important;
  height: 25px !important;
}


.mySwiper .swiper-pagination-bullet {
  background-color: white !important;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
}

.div1 .item img,
.div2 .item img,
.div3 .item img {
  display: block;
  margin: 10px auto;
}

.div1 .item,
.div2 .item,
.div3 .item {
  height: 22em;
  width: 100%;
  margin: 20px auto;
  color: black;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  background-color: rgba(255, 255, 255);
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
}

.div1 .item .text,
.div2 .item .text,
.div3 .item .text {
  color: black;
  
}
.div1 .item .heading,
.div2 .item .heading,
.div3 .item .heading {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}


.pandS {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
}

.project-intro {
  height: 60vh;
  width: 100%;
  background-image: url("../assets/img/backgrounds/rocketBg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 116CAA */

.proj {
  border-style: none !important;
  height: max-content;
  background-color: #f5514e;
  color: rgba(255, 255, 255, 0.774);
}

.proj .title{
  color: white;
}

.content {
  width: 90%;
  margin: auto;
}

.content .illustration {
  /* margin: auto; */
  flex: 1;
}

.proj .illustration img {
  /* display: block; */
  width: 100%;
  /* margin: auto; */
}

.side-content {
  flex: 1;
  width: 100%;
  align-self: flex-start;
  margin: auto;
  /* margin: auto; */
}

.side-content .title {
  font-size: 3.5rem;
  text-align: left;
  margin-bottom: 20px;
}

.side-content:last-child {
  font-size: 1.3rem;
}

.side-content input[type="button"],
.left-content input[type="button"] {
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  background-color: #f5514e;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.side-content input[type="button"]{
  background-color: #fafafa;
  color: black;
}

.news {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.news .left-content {
  width: 100%;
  /* padding-right: 100px; */
}

.left-content .title {
  text-align: left;
  font-size: 3.5rem;
}

.swiper-container.mySwiper {
  width: 100%;
  /* margin-left: 100px; */
  height: 500px;
  /* border: 1px solid #000051; */
}

.n1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/backgrounds/2774835.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.n2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/backgrounds/final.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.n3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/backgrounds/Fluid_background_2019_2-1-18.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsItem {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.newsItem .heading {
  font-size: 3.5rem;
  color: white;
  text-align: left;
  margin-bottom: 0;
}

.newsItem .text {
  color: #767779;
  width: 100%;
}

footer {
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  background-color: #ece9e9;
  height: fit-content;
}

.footer-content {
  width: 90%;
  margin: auto;
}

.brand p {
  font-size: 2rem;
  margin: 10px auto;
}

.socials {
  margin: auto;
  width: 100%;
}

.socials a {
  text-decoration: none;
  color: #f5514e;
  margin: 5px;
}

.other-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px 0px;
}

.other-links a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.newsletter {
  width: 100%;
}

.newsletter input {
  padding: 10px;
  border: thin;
  border-radius: 2px;
  width: 100%;
  margin: 10px auto;
}

.newsletter input[type="button"] {
  padding: 15px;
  font-size: 1rem;
  background-color: #f5514e;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.newsletter input[type="button"]:hover {
  border-radius: 10px;
  cursor: pointer;
}

.copyright-info {
  padding: 20px;
  text-align: left;
  font-size: 0.8rem;
  background-color: grey;
  color: white;
}

.copyright-info span {
  display: block;
  width: 93%;
  margin: auto;
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: transparent;
  border: none;
  z-index: 1000;
}

.fa-arrow-alt-circle-up {
  color: black;
  cursor: pointer;
}

/* events css */

.ebk-img {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../assets/img/backgrounds/mainBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}

.heading.e {
  padding-top: 120px;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.button-container button {
  padding: 15px;
  font-size: 1rem;
  margin-top: 20px;
  width: 100%;
  background-color: #f5514e;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.e-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

.e-title::after{
  content: "";
  display: block;
  border-bottom: 5px dashed #f5514e;
  width: 10%;
  margin: auto;
}
.e-title:not(.events-container .e-title){
  padding-top: 80px;
}


.e-title:not(.events-container .e-title){
  padding-top: 80px;
}

.event {
  width: 90%;
  margin: 20px auto;
  /* padding: 15px; */
  background-color: #f8f5f5;
  text-align: center;
  border-width: thin;
}

.event img {
  width: 100%;
  padding: 0;
}

.event .text{
  padding: 15px;
}

.event .heading {
  padding-top: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 10px;
  color: black;
}

.event button {
  padding: 12px;
  margin: 15px auto;
  width: 150px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #f5514e;
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.intro{
  width: 90%;
  margin: auto;
}

.intro-container .illustration a img{
  width: 100%;
}

.intro-container .text-content{
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: center;
}


/* DESKTOP STYLES */

@media screen and (min-width: 50em) {
  header {
    position: relative;
    background: transparent;
    top: 0;
    width: 100%;
    border: 0;
    height: 9vh;
    transition: all 0.8s ease;
  }

  .nav-container {
    position: relative;
    top: 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 700px;
  }

  .nav-links li a{
    margin: 30px auto;
    padding: 0px;
    width: fit-content;
  }

  .nav-links li{
      text-align: center;
      width: fit-content;
  }

  .nav-links li a:hover {
    color: #ff8482;
  }

  .burger {
    display: none;
  }

  .stickyH {
    position: sticky;
    background-color: #f5514e;
  }

  .stickyH .nav-links li a:hover{
      color: white;
      font-size: 1.05rem;
  }

  .other-links {
    width: 30%;
  }

  .newsletter {
    width: 30%;
    margin: 20px auto;
  }

  .res-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .hbk-img {
    height: 85vh;
  }

  .changing-text span {
    font-size: 6rem;
    /* margin-top: 50px; */
  }

  #welcome {
    font-size: 2rem;
    padding-top: 0px;
  }

  .sometext {
    font-size: 1.2rem;
    width: 80%;
    margin-top: 0px;
  }

  .buttons {
    display: block;
    /* border: 1px solid #000051; */
  }

  .buttons input[type="button"] {
    width: 20%;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #f5514e;
    border-width: thin;
    transition: all 0.5s ease;
  }

  .buttons input[type="button"]:hover{
    background-color: #f5514e;
  }

  .ab-us {
    margin-top: 30px;
    padding-top: 30px;
    /* border: 5px solid green; */
  }

  .ab-content {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* width: 100%; */
  }

  .ab-content .item {
    margin: 0 15px;
    height: 25em;
  }

  .title {
    font-size: 3rem;
  }

  .parent {
    flex-wrap: nowrap;
  }

  .div1 .item,
  .div2 .item,
  .div3 .item {
    width: auto;
    margin: 20px;
  }

  .project-intro {
    height: 100vh;
  }

  .proj img {
    width: 50%;
  }

  .proj {
    height: 60vh;
    /* margin-top: 0; */
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-content {
    margin-left: 30px;
  }

  .side-content input[type="button"],
  .left-content input[type="button"] {
    width: 40%;
    text-align: center;
  }

  .news {
    flex-wrap: nowrap;
    align-items: center;
  }

  .news .left-content {
    width: 50%;
  }

  .swiper-container.mySwiper {
    margin-left: 50px;
  }

  .other-links {
    width: 30%;
  }

  .newsletter {
    width: 30%;
    margin: 20px auto;
  }

  .res-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .scrollToTop {
    right: 20px;
  }

  /* events media queries */
  .ebk-img {
    height: 80vh;
  }

  .heading.e {
    padding-top: 60px;
    font-size: 8rem;
  }

  .sometext {
    font-size: 1.2rem;
    width: 50%;
  }

  .button-container {
    width: 90%;
    flex-direction: row;
  }

  .button-container button {
    margin: 20px;
    width: 20%;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid #f5514e;
    transition: all 0.5s ease;
  }

  .button-container button:hover {
    background-color: #f5514e;
  }

  .event button:hover {
    background-color: #f5514e;
    color: white;
  }

  .e-title{
    font-size: 3rem;
  }

  .e-title:not(.events-container .e-title){
    margin: 30px auto 0px auto;
  }

  .e-title:not(.heading.e){
    padding-top: 80px;
  }


  .event{
    display: flex;
    align-items: center;
    text-align: left;
  }

  .event img{
    width: 50%;
  }

  .event .heading, .event .text{
    text-align: left;
    padding: 0;
    margin: 10px;
    width: 70%;
  }

  .event button{
    margin-left: 10px;
  }

  .event .right{
    margin-left: 15px;
  }

  .intro{
    width: 90%;
    margin: auto;
  }

  .intro-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .intro-container .illustration a img{
    width: 100%;
  }

  .intro-container .illustration{
    flex: 1;
  }
  
  .intro-container .text-content{
    flex: 1;
    width: 60%;
    margin: 10px 0px 20px 50px;
    text-align: left;
  }
}
