<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Tech Experience Hub</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <!-- content -->
    <main>
        <!-- heading -->
        <p class="heading">Get in touch!</p>
        <!-- close button -->
        <a href="index.html" class="close"><i class="fas fa-times fa-2x"></i></a>
        <!-- sometext -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, assumenda.</p>

        <!-- contact info -->
        <div class="contactInfo">
            <div class="info">
                <!-- icon -->
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <!-- text -->
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="info">
                <!-- icon -->
                <i class="fas fa-phone-alt fa-2x"></i>
                <!-- text -->
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="info">
                <!-- icon -->
                <i class="fas fa-envelope fa-2x"></i>
                <!-- text -->
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>

        <!-- contact form -->
        <div class="form-container">
            <form action="">
                <div class="left">    
                    <div class="field">
                        <label for="">Your Name</label>
                        <input type="text">
                    </div>
                   
                    <div class="field">
                        <label for="">Email</label>
                        <input type="text">
                    </div>
                   
                    <div class="field">
                        <label for="">Phone Number</label>
                        <input type="text">
                    </div>
                   
                </div>

                <div class="right">
                    <div class="field">
                        <label for="">Message</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </form>
            <!-- service pane -->
            <div class="serviceBlock">
                <button>Mobile Development</button>
                <button>Web Development</button>
                <button>Other</button>
            </div>

            <!-- submit button -->
            <button class="send">Send Message</button>
        </div>
    </main>

<script src="https://kit.fontawesome.com/f974d2668e.js" crossorigin="anonymous"></script>    
</body>
</html>