<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Poppins:wght@100;300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <!-- navigation bar -->
    <header>
        <div class="nav-container">
            <!-- brand -->
            <div class="nav-brand">
                <img src="" alt="">
                <a href="#">TXH</a>
            </div>

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- navigation links -->
            <nav>
                <ul class="nav-links">
                    <li><a href="#" class="links">Home</a></li>
                    <li><a href="#" class="links">About Us</a></li>
                    <li><a href="#" class="links">Services</a></li>
                    <li><a href="#" class="links">Contact Us</a></li>
                    <li><a href="#" class="links">Sign Up</a></li>
                    <!-- <li><a href="" class="links"></a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <!-- end of navigation bar -->

    <!-- start of content -->
    <main>
        <!-- background img -->
        <div class="bk-img"></div>

        <!-- main content  -->
        <p id="welcome">Lorem ipsum dolor sit amet, consectetur adipisicing</p>

        <!-- changing text -->
        <p class="changing-text">
            <span>Work Brilliantly</span>
            <span>Build your start up</span>
            <span>A new experience</span>
        </p>

        <!-- some text -->
        <p class="sometext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam facere asperiores voluptate veritatis quo nobis non, perferendis repellendus suscipit aut ipsa iusto alias assumenda soluta quibusdam laboriosam, quae reiciendis quod.</p>

        <!-- buttons -->
        <div class="buttons">
            <input type="button" value="Join the community">
            <input type="button" value="Attend an event">
            <input type="button" value="support us">
        </div>

        <!-- about us content -->
        <section class="ab-us">
            <!-- heading -->
            <p class="title">What is TX Hub?</p>

            <!-- plaques -->
            <div class="ab-content">
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
            </div>
        </section>

        <!-- services section -->
        <section class="services">
            <!-- title -->
            <p class="title">What we do</p>

            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/leon-Oalh2MojUuk-unsplash.jpg" alt="">
                            <p class="heading">Tech Skills Training</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg" alt="">
                            <p class="heading">Hackathons</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/markus-winkler-4TBdESUNuFg-unsplash.jpg" alt="">
                            <p class="heading">Software Applications</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg" alt="">
                            <p class="heading">Hardware Applications</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg" alt="">
                            <p class="heading">Innovative Solutions</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/lagos-techie-IgUR1iX0mqM-unsplash.jpg" alt="">
                            <p class="heading">Supporting Local Innovations</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </section>

        <!-- projects and startups -->
        <section class="projS">
            <p class="title">Projects and Startups</p>
        </section>
    </main>

    
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>