<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Tech Xperience Hub</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Poppins:wght@100;300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <!-- navigation bar -->
    <header>
        <div class="nav-container">
            <!-- brand -->
            <div class="nav-brand">
                <img src="" alt="">
                <a href="#">TXH</a>
            </div>

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- navigation links -->
            <nav>
                <ul class="nav-links">
                    <li><a href="#" class="links">Home</a></li>
                    <li><a href="#" class="links">About Us</a></li>
                    <li><a href="#" class="links">Services</a></li>
                    <li><a href="#" class="links">Contact Us</a></li>
                    <li><a href="login.html" class="links">Login</a></li>
                    <li><a href="#" class="links">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end of navigation bar -->

    <!-- start of content -->
    <main>
        <!-- background img -->
        <div class="bk-img"></div>

        <!-- main content  -->
        <p id="welcome">Lorem ipsum dolor sit amet, consectetur adipisicing</p>

        <!-- changing text -->
        <p class="changing-text">
            <span>Work Brilliantly</span>
            <span>Build your start up</span>
            <span>A new experience</span>
        </p>

        <!-- some text -->
        <p class="sometext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eligendi tenetur et, id maiores iure magnam ducimus deserunt doloremque molestias.</p>

        <!-- buttons -->
        <div class="buttons">
            <input type="button" value="Join the community" onclick="document.location.href='login.html'">
            <input type="button" value="Attend an event">
            <input type="button" value="support us">
        </div>

        <!-- about us content -->
        <section class="ab-us">
            <!-- heading -->
            <p class="title">What is TX Hub?</p>

            <!-- plaques -->
            <div class="ab-content">
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
                <div class="item">
                    <p class="number">1</p>
                    <p class="heading">Lorem</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                </div>
            </div>
        </section>

        <!-- services section -->
        <section class="services">
            <!-- title -->
            <p class="title">What we do</p>

            <!-- Slider main container -->
            <div class="swiper-container swiper1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper ">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/leon-Oalh2MojUuk-unsplash.jpg" alt="">
                            <p class="heading">Tech Skills Training</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg" alt="">
                            <p class="heading">Hackathons</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/markus-winkler-4TBdESUNuFg-unsplash.jpg" alt="">
                            <p class="heading">Software Applications</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg" alt="">
                            <p class="heading">Hardware Applications</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg" alt="">
                            <p class="heading">Innovative Solutions</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="../assets/img/pics/lagos-techie-IgUR1iX0mqM-unsplash.jpg" alt="">
                            <p class="heading">Supporting Local Innovations</p>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            
        </section>

        <!-- projects and startups -->
        <section class="services offer">
            <p class="title">What we offer</p>

            <!-- plaques showing services -->
            <div class="parent">
                <div class="div1"> 
                    <div class="item">
                        <img src="../assets/img/icons/icons8-ios-development-100.png" alt="" width="80">
                        <p class="heading">Mobile app development</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                    </div>
                </div>
                <div class="div2">
                    <div class="item">
                        <img src="../assets/img/icons/icons8-web-design-100.png" alt="" width="80">
                        <p class="heading">web development</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                    </div>
                </div>
                <div class="div3">
                    <div class="item">
                        <img src="../assets/img/icons/icons8-robot-100.png" alt="" width="80">
                        <p class="heading">robotics</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod tempora similique aliquid voluptatem nesciunt ratione eum, in consequuntur, iste iusto a voluptas sapiente quae ab id, placeat quibusdam assumenda.</p>
                    </div>
                </div>
            </div> 
        </section>

        <!-- project intro -->
        <!-- <section class="pandS"></p></section> -->

        <section class="project-intro"></section>


        <!-- projects and startups -->
        <section class="proj">
            <div class="content">
                <div class="illustration">
                    <img src="../assets/img/illustration/projects.svg" alt="">
                </div>
    
            
                <div class="side-content">
                    <p class="title">Have a project idea ?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum impedit officiis quis illum, eum temporibus hic, placeat fugiat mollitia voluptate id perspiciatis vel iusto inventore amet! Maxime excepturi eaque nostrum?</p>
                    <input type="button" value="Contact Us">
                </div>
            </div>
        </section>

        <!-- gallery -->
        <section class="gallery"></section>

        

        <!-- news -->
        <section class="news">
            <!-- left content -->
            <div class="left-content">
                <p class="title">NEWS BULLETIN</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum impedit officiis quis illum, eum temporibus hic, placeat fugiat mollitia voluptate id perspiciatis vel iusto inventore amet! Maxime excepturi eaque nostrum?</p>
                <input type="button" value="See more">
            </div>

            <!-- news -->
            <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide n1">
                        <div class="newsItem">
                            <p class="heading">News Heading</p>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit vero, blanditiis corporis, nulla eos laborum sequi voluptatem magni vel sunt repellendus aperiam officia, ut esse maxime et veritatis distinctio.</p>
                        </div>
                    </div>
                    
                    <div class="swiper-slide n2">
                        <div class="newsItem">
                            <p class="heading">News Heading</p>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit vero, blanditiis corporis, nulla eos laborum sequi voluptatem magni vel sunt repellendus aperiam officia, ut esse maxime et veritatis distinctio.</p>
                        </div>
                    </div>
                    
                    <div class="swiper-slide n3">
                        <div class="newsItem">
                            <p class="heading">News Heading</p>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odit vero, blanditiis corporis, nulla eos laborum sequi voluptatem magni vel sunt repellendus aperiam officia, ut esse maxime et veritatis distinctio.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <div class="footer-content">
            <!-- brand and socials -->
            <div class="brand">
                <p>TXH</p>
                <div class="socials">
                    <a href=""><i class="fab fa-instagram-square fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                    <a href=""><i class="fab fa-github-square fa-2x"></i></a>
                </div>
            </div>

            <div class="res-content">
                <!-- other linnks -->
                <div class="other-links">
                    <div class="first-set">
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                    </div>
                    <div class="second-set">
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                        <a href="http://">Lorem, ipsum.</a>
                        <a href="http://">Lorem.</a>
                    </div>
                </div>

                <!-- newsletter subscription -->
                <div class="newsletter">
                    <p>Subscribe to our newsletter</p>
                    <input type="text" placeholder="Enter email">
                    <input type="button" value="Subscribe">
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <div class="copyright-info">
            <i class="fa fa-copyright" aria-hidden="true"></i>Tech Experience Hub<br>
            <p>Built and designed by <a href="http://">Akwasi Asante-Krobea</a></p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/f974d2668e.js" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/textAnimation.js"></script>
    <script src="../js/swiperJs.js"></script>
</body>
</html>