<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- navigation bar -->
    <header>
        <div class="nav-container">
            <!-- brand -->
            <div class="nav-brand">
                <img src="" alt="">
                <a href="#">TXH</a>
            </div>

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- navigation links -->
            <nav>
                <ul class="nav-links">
                    <li><a href="#" class="links">Home</a></li>
                    <li><a href="#" class="links">About Us</a></li>
                    <li><a href="#" class="links">Services</a></li>
                    <li><a href="#" class="links">Contact Us</a></li>
                    <li><a href="#" class="links">Sign Up</a></li>
                    <!-- <li><a href="" class="links"></a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <!-- end of navigation bar -->

    <!-- start of content -->
    <main>
        <!-- background img -->
        <div class="bk-img"></div>

        <!-- main content  -->
        <p id="welcome">Lorem ipsum dolor sit amet, consectetur adipisicing</p>

        <!-- changing text -->
        <p class="changing-text">
            <span>Work Brilliantly</span>
            <span>Build your start up</span>
            <span>A new experience</span>
        </p>

        <!-- some text -->
        <p class="sometext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam facere asperiores voluptate veritatis quo nobis non, perferendis repellendus suscipit aut ipsa iusto alias assumenda soluta quibusdam laboriosam, quae reiciendis quod.</p>

        <!-- buttons -->
        <div class="buttons">
            <input type="button" value="Join the community">
            <input type="button" value="Attend an event">
            <input type="button" value="support us">
        </div>

        <!-- page content -->
        <section class="ab-us">
            <p class="title">What is Tech Experience Hub?</p>
        </section>
    </main>

<script src="../js/index.js"></script>
</body>
</html>